body{
    background-color: #000;
    color: #fff;
    width: 1340px;
}

.headerpred{
}

.container{
    max-width: 1000px;
    min-height: 44px;
    margin: 0 auto;
}

.headerpredinfo{
    display: flex;
    justify-content: space-between;
    margin: 14px 0px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    font-family: 'PT Sans';
    color: #969696;
}

.tel::before{
    content: url(/img/eva_phone-outline.svg);
    position: relative;
    top: 4px;
    right: 15px;
}

.log::before{
    content: url(/img/ic_sharp-log-in.svg);
    position: relative;
    top: 4px;
    right: 10px;
}

.header{
  height: 80px;
  background: #0F0F0F;
}

.headerinfo{
  width: 1110px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about{
  display: flex;
  justify-content: space-between;
}

.about_blocks{
  width: 136px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.likes{
  background: #1F1F1F;
}

.name_company{
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: #FFFFFF;
  font-family: 'Post No Bills Jaffna';
}

.about_text_active{
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: 'PT Sans';
  color: #FFFFFF;
}

.about_text{
  font-style: normal;
  color: #969696;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: 'PT Sans';
}

.basket{
  margin: 0 40px;
}
