body{
    background-color: #000;
    color: #fff;

}

.container{
    max-width: 1000px;
    min-height: 44px;
    margin: 0 auto;
}

.headerpredinfo{
    display: flex;
    justify-content: space-between;
    margin: 14px 0px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    font-family: 'PT Sans';
    background: #000;
    color: #969696;
}

.tel::before{
    content: url(/img/eva_phone-outline.svg);
    position: relative;
    top: 4px;
    right: 15px;
}

.log::before{
    content: url(/img/ic_sharp-log-in.svg);
    position: relative;
    top: 3px;
    right: 10px;
}

.log{
  text-decoration: none;
  color: #969696;
}

.header{
  height: 80px;
  background: #0F0F0F;
}

.headerinfo{
  width: 1110px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about{
  display: flex;
  justify-content: space-between;
}

.about_blocks{
  width: 136px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.likes{
  background: #1F1F1F;
}

.name_company{
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: #FFFFFF;
  font-family: 'Post No Bills Jaffna';
}

.about_text_active{
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: 'PT Sans';
  color: #FFFFFF;
  text-decoration: none;
}

.about_text{
  font-style: normal;
  color: #969696;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: 'PT Sans';
  text-decoration: none;
}

.basket{
  margin: 0 40px;
}

.title_page{
  position: relative;
  width: 1345px;
  height: 633px;
}

.background_img{
  position: absolute;
  left: 0px;
  width: 1365px;
  height: 633px;
  background-image: url(/img/Rectangle\ 3.png);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.box{
  width: 320px;
  height: 320px;
  border: solid 4px #fff;
}

.title_text{
  margin-top: 93px;
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  color: #FFFFFF;
  font-family: 'Post No Bills Jaffna';
}

.bottom_line{
  width: 179px;
  border: 2px solid #FFFFFF;
  margin-bottom: 7px;
  position: relative;
  left: 67px;
}

.title_text2{
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'PT Sans';
  color: #FFFFFF;
}

.title_text_box{
  width: 1300px;
  display: flex;
  justify-content: center;
}

.title_info{
  margin-top: -74px;
width: 730px;
font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;
}

.info{
  width: 1000px;
}

.info_settings{
  display: flex;
  gap: 55px;
}

.new_season{
  margin-top:93px;
}

.new_season_title_text{
  font-family: 'Playfair Display';
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 50px;
}

.new_season_title_line{
  width: 120px;
  border: solid 1px #ffff;
  margin-left: 305px;
  margin-top:50px;
  margin-bottom: 50px;
}

.new_season_title_products{
  display: flex;
  gap: 50px;
  margin-left: 55px;
}

.new_season_products{
  width: 178px;
  height: 403px;
}

.img_box{
  display: flex;
  width: 178px;
  height: 323px;
  background-color: #191b1c;
  justify-content: center;
  align-items: center;
}

.products_name{
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  font-family: 'Playfair Display';
}

.new_colection{
  width: 600px;
  height: 720px;
}

.new_colection_background_img{
  background-image: url(/img/Rectangle\ 8.png);
  width: 600px;
  height: 720px;
  position: relative;
  margin-left: 20px;
}

.new_colection_info{
  position: absolute;
  top: 475px;
  bottom: 100px;
  left: 194px;
  right: 154px;
}

.new_colection_text{
  margin-left: -90px;
  width: 400px;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: 'Playfair Display';
}

.new_colection_line{
  width: 82.5px;
  border: solid 1px #fff;
  margin-left: 57px;
  margin-top: 33px;
  margin-bottom: 33px;
}

.new_colection_button{
  padding: 12px 28px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: 'PT Sans';
  margin-left: 27px;
  border: solid 1px #fff;
  text-decoration: none;
}

.colection_2018_flex{
  display: flex;
  gap: 200px;
}

.colection_2018_img{
  margin-left: -185px;
}

.colection_2018_info{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 597.11px;
}

.colection_2018_info_title{
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: 'Playfair Display';
  margin-bottom: -140px;
}

.colection_2018_info_line{
  width: 83px;
  border:solid 1px #fff;
}

.colection_2018_info_text{
  margin-top: -85px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
  font-family: 'PT Sans';
}

.colection_2018_info_button{
  margin-top: -100px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: 'PT Sans';
  color: #FFFFFF;
  border: solid 1px #FFF;
  padding:12px 28px ;
}

.new_arrivals{
  margin-top: 120px;
  margin-bottom: 150px;
}

.new_arrivals_title{
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: 'Playfair Display';
}

.new_arrivals_line_flex{
  margin: 40px 0;
  display: flex;
  justify-content: center;
}

.new_arrivals_line{
  width: 83px;
  border: 1px solid #fff;
}

.new_arrivals_products_block{
  width: 760px;
  margin-left: 120px;
}

.new_arrivals_products{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.our_brands{
  padding-top: 60px;
  background-color: rgba(15, 15, 15, 1);
}

.our_brands_title{
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: 'Playfair Display';
}

.our_brands_flex_line{
  display: flex;
  justify-content: center;
}

.our_brands_line{
  width: 82px;
  border: solid 1px #FFF;
  margin: 40px 0;
}

.our_brands__brands{
  display: flex;
  gap: 20px;
  justify-content: center;
  padding-bottom: 80px;
}

.footerpred{
}

.footerpred_background_img{
  background-image: url(/img/Rectangle\ 15.png);
  height: 400px;
  width: 1370px;
  margin-left: -200px;
}

.footerpred_info{
  display: flex;
  margin-left: 253px;
}

.about_the_store_title{
  margin-top: 80px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: 'Playfair Display';
}

.about_the_store_text{
  margin-top: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  font-family: 'PT Sans';
  width: 340px;
}

.categories{
  margin-left: 30px;
}

.categories_title{
  margin-top: 80px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: 'Playfair Display';
}

.categories_button{
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 300px;
}

.categories_button_text{
  padding: 10px 20px;
  color:#D0D0D0;
  background-color: #0F0F0F;
}

.mailing_title{
  margin-top: 80px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: 'Playfair Display';
}

.mailing_text{
  margin-top: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  font-family: 'PT Sans';
  width: 240px;
}

.mailing_email_and_button{
  margin-top: 40px;
  position: relative;
}

.mailing_email{
  background: rgba(255, 255, 255, 0.4);
  border: 0;
  width: 144.23px;
  height: 41.8px;
  color: #969696;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  font-family: 'PT Sans';
}

.mailing_email_button{
  position: absolute;
  height: 44px;
  background: #0F0F0F;
  width: 96.15px;
  border: 0;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.05em;
  font-family: 'PT Sans';
}

.footer_text_1{
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #D0D0D0;
  font-family: 'PT Sans';
  width: 100px;
}

.footer_text_2{
  margin-top: -25px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  text-decoration-line: underline;
  color: #D0D0D0;
  font-family: 'PT Sans';
}